fastapi
uvicorn[standard]
pydantic
pydantic-settings
pydantic[email]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pypdf
qdrant-client
langchain-community
langchain-core
langchain-text-splitters
langchain-ollama
langchain-openai
sentence-transformers
